/* Variables */
:root {
  --primary-color: #4c6ca0;
  --secondary-color: #3b5998;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #fff;
}

p {
  margin: 10px 0;
}

i {
  display: inline;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

/* Section colors */
#home {
  background: black;
}
#about {
  background: red;
}
#contact {
  background: orangered;
}
#services {
  background: blueviolet;
}

/* Navbar Styling */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  padding: 1.25rem;
}

.navbar .logo {
  padding: 1.5rem;
  font-size: 2rem;
}

.navbar .logo a {
  transition: color 0.4s ease-in-out;
}

.navbar .logo a:hover {
  color: var(--secondary-color);
}

.navbar .nav-menu {
  display: flex;
}

.nav-menu .nav-item a {
  display: inline-block;
  padding: 1rem 1.4rem 1rem 1rem;
  width: 100%;
  transition: background 0.3s ease;
}

.nav-menu .nav-item a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    /* 
      You can change the position of the navbar 
      ----------------------------------------------------------------------------------
      To succesfully do this, you must change the .nav-menu.active to the chosen position
      * right: -100%;
      * .right-menu.active { right: 0;}
      -----------------------------------------------------------------------------------
    */
    right: -100%;
    top: 5.3rem;
    flex-direction: column;
    /* This controls the width of the navbar container*/
    width: 50%;
    /* This controls the height of the navbar container */
    height: 100%;
    text-align: right;
    transition: 0.3s;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    /* This controls the background color of the navbar container*/
    background-color: #f4f4f4;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
